html {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'IBM Plex Sans';
    overflow-y: scroll;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
svg {
    user-select: none;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
small,
button {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input,
button {
    background: transparent;
    font-family: 'IBM Plex Sans';
    outline: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

input,
input:before,
input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

button {
    cursor: pointer;
    line-height: 1em;
}

#root {
    margin: 0;
    overflow: overlay;
    padding: 0 !important;
    width: 100%;
}

::-webkit-scrollbar {
    height: 1.2rem;
    width: 1.2rem;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    height: 0.6rem;
}

/* uhd */
@media all and (min-width: 2561px) {
    html {
        font-size: calc(((1vw + 1vw) / 7) + 12px);
    }
}

/* qhd */
@media all and (min-width: 1921px) and (max-width: 2560px) {
    html {
        font-size: calc(((1vw + 1vw) / 10) + 10px);
    }
}

/* desktop */
@media all and (min-width: 1441px) and (max-width: 1920px) {
    html {
        font-size: calc(((1vw + 1vw) / 14) + 8px);
    }
}

/* small-desktop */
@media all and (min-width: 1025px) and (max-width: 1440px) {
    html {
        font-size: calc(((1vw + 1vw) / 18) + 7px);
    }
}

/* medium devices */
@media all and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: calc(((1vw + 1vw) / 8) + 7px);
    }
}

/* small devices */
@media all and (min-width: 280px) and (max-width: 767px) {
    html {
        font-size: calc(((1vw + 1vw) / 5) + 6px);
    }
}
